.ware-house-list-sub-menu {
  display: none;
}

@include tablet {
  .ware-house-list-sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__container {
      display: flex;
      margin-left: 3%;
    }
    &__container--contact {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__subcontainer {
      width: max-content;
      display: flex;
      justify-content: flex-start;
    }
    &__subcontainer--address {
      margin-left: -0.25rem;
    }
    &__title {
      font-weight: 600;
      font-size: 0.8rem;
      transform: translateX(-0.125rem);
    }
    &__title--name {
      transform: translateX(-0.125rem);
      width: 6.5rem;
    }
    &__icon {
      background-repeat: no-repeat;
      background-image: url(../../../assets/Icons/sort-24px.svg);
      border: none;
      background-color: $instockWhite;
      color: $instockWhite;
      width: 2.5rem;
      height: 1.25rem;
      background-position-x: 0.125rem;
      transform: translateY(-0.25rem);
    }
    &__action {
      margin-right: 2%;
      transform: translateX(-1.325rem);
    }
  }
}

@include desktop {
  .ware-house-list-sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__container {
      display: flex;
      margin-left: 5%;
    }

    &__container--contact {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 37.5rem;
    }

    &__subcontainer {
      width: max-content;
      display: flex;
      justify-content: flex-start;
    }
    &__subcontainer--address {
      margin-left: 1rem;
    }
    &__title {
      font-weight: 600;
      font-size: 0.8rem;
      transform: translateX(-0.125rem);
    }
    &__icon {
      background-repeat: no-repeat;
      background-image: url(../../../assets/Icons/sort-24px.svg);
      border: none;
      background-color: $instockWhite;
      color: $instockWhite;
      width: 2.5rem;
      height: 1.25rem;
      background-position-x: 0.125rem;
      transform: translateY(-0.25rem);
    }
    &__action {
      margin-right: 5%;
      transform: translateX(-1.25rem);
    }
  }
}
