.warehouse-list-menu{
  padding:5%;

  &__header{
    color:$instockBlack;
    font-weight:600
  }
  &__container{
    display: flex;
    flex-direction: column;
  }
  &__search-bar{
    height:3rem;
    border-radius: 2rem;
    margin-top: 1rem;
    padding-left: 1rem;
    border:solid $instockCloud 2px;
    background-image: url(../../../assets/Icons/search-24px.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  &__button{
    width:100%;
    padding:1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    background-color: $instockIndigo;
    color:$instockWhite;
    border:none;
  }
}
