.related-items-list-sub-menu {
  display: none;
}

@include tablet {
  .related-items-list-sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__container {
      display: flex;
      margin-left: 3%;
    }
    &__container--qty {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 3%;
    }

    &__subcontainer {
      display: flex;
      justify-content: flex-start;
    }
    &__subcontainer--category {
      margin-left: 2.25rem;
    }
    &__subcontainer--qty{
      transform: translateX(-2.0rem);
    }
    &__subcontainer--status {
      transform: translateX(2.8rem);
    }
    &__title {
      font-weight: 600;
      font-size: 0.8rem;
      transform: translateX(-0.125rem);
    }
    &__title--category {
      margin-left:1rem;
    }
    &__title--status {
      margin-left:0rem;
    }
    &__title--qty{
      margin-left:2rem;
    }
    &__title--warehouse{
      margin-left:2rem;
    }
    &__icon {
      background-repeat: no-repeat;
      background-image: url(../../assets/Icons/sort-24px.svg);
      border: none;
      background-color: $instockWhite;
      color: $instockWhite;
      width: 2.5rem;
      height: 1.25rem;
      background-position-x: 0.125rem;
      transform: translateY(-0.25rem);
    }
    &__action {
      display: contents;
    }
  }
}

@include tablet-med{
  .related-items-list-sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__container {
      display: flex;
      margin-left: 3%;
    }
    &__container--qty {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__subcontainer {
      display: flex;
      justify-content: flex-start;
    }
    &__subcontainer--category {
      margin-left: -0.25rem;
      transform: translateX(4rem);
      
    }
    &__subcontainer--status{
      transform: translateX(10rem);
    }
    &__subcontainer--qty{
      transform: translateX(-5rem);
    }
    &__subcontainer--warehouse {
      transform: translateX(-1.8rem);
    }
    &__title {
      font-weight: 600;
      font-size: 0.8rem;
      transform: translateX(-0.125rem);
    }
    &__title--category {
      margin-left:1rem;
    }
    &__title--status {
      margin-left:0rem;
    }
    &__title--qty{
      margin-left:2rem;
    }
    &__title--warehouse{
      margin-left:2rem;
    }
    &__icon {
      background-repeat: no-repeat;
      background-image: url(../../assets/Icons/sort-24px.svg);
      border: none;
      background-color: $instockWhite;
      color: $instockWhite;
      width: 2.5rem;
      height: 1.25rem;
      background-position-x: 0.125rem;
      transform: translateY(-0.25rem);
    }
    &__action {
      display: contents;
    }
  }
}
@include tablet-large{
  .related-items-list-sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__container {
      display: flex;
      margin-left: 3%;
    }
    &__container--qty {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__subcontainer {
      display: flex;
      justify-content: flex-start;
    }
    &__subcontainer--category {
      margin-left: -0.25rem;
      transform: translateX(8rem);
    }
    &__subcontainer--status{
      transform: translateX(15rem);
    }
    &__subcontainer--qty{
      transform: translateX(-5.2rem)
    }
    &__subcontainer--warehouse {
      transform: translateX(-1.8rem);
    }
    &__title {
      font-weight: 600;
      font-size: 0.8rem;
      transform: translateX(-0.125rem);
    }
    &__title--category {
      margin-left:1rem;
    }
    &__title--status {
      margin-left:0rem;
    }
    &__title--qty{
      margin-left:2rem;
    }
    &__title--warehouse{
      margin-left:2rem;
    }
    &__icon {
      background-repeat: no-repeat;
      background-image: url(../../assets/Icons/sort-24px.svg);
      border: none;
      background-color: $instockWhite;
      color: $instockWhite;
      width: 2.5rem;
      height: 1.25rem;
      background-position-x: 0.125rem;
      transform: translateY(-0.25rem);
    }
    &__action {
      display: contents;
    }
  }
}
@include desktop {
  .related-items-list-sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__container {
      display: flex;
      margin-left: 3%;
    }
    &__container--qty {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__subcontainer {
      display: flex;
      justify-content: flex-start;
    }
    &__subcontainer--category {
      margin-left: -0.25rem;
    }
    &__subcontainer--qty{
      transform: translateX(-8.2rem);
    }
    &__subcontainer--status {
      transform: translateX(14rem);
    }
    &__title {
      font-weight: 600;
      font-size: 0.8rem;
      transform: translateX(-0.125rem);
    }
    &__title--category {
      margin-left:1rem;
    }
    &__title--status {
      margin-left:7rem;
    }
    &__title--qty{
      margin-left:2rem;
    }
    &__title--warehouse{
      margin-left:2rem;
    }
    &__icon {
      background-repeat: no-repeat;
      background-image: url(../../assets/Icons/sort-24px.svg);
      border: none;
      background-color: $instockWhite;
      color: $instockWhite;
      width: 2.5rem;
      height: 1.25rem;
      background-position-x: 0.125rem;
      transform: translateY(-0.25rem);
    }
    &__action {
      display: contents;
    }
  }
}
