
.related-items-list-selection{
  padding:5%;
  color:$instockSlate;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top:0.125rem solid $instockCloud;


  &__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__container--2{
    margin-right: 4%;
  }
  &__subcontainer{
    flex-wrap: wrap;
  }
  &__title{
    font-size: .8rem;
    font-weight:600;
    margin-top: 1rem;
  }
  &__info{
    font-size:.8rem;
    font-weight: 600;
    color:$instockBlack;
    margin-top: 1rem
  }
  &__button{
    background-color: $instockWhite;
    color:$instockIndigo;
    border:none;
    font-weight: 600;
    margin-top: 1rem;
    padding:0%;
  }
  &__icon{
    background-color: $instockWhite;
    color:$instockWhite;
    background-repeat: no-repeat;
    background-image: url(../../assets/Icons/chevron_right-24px.svg);
    border: none;
    background-color: $instockWhite;
    color: $instockWhite;
    width: 2.5rem;
    height: 1.25rem;
    background-position-x: 0.125rem;
    transform: translateY(-0.125rem);
  }
  &__action{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top: 1rem;
  }
  &__edit{
    color:$instockWhite;
    background-color: $instockWhite;
    border:none;
    background-image: url(../../assets/Icons/edit-24px.svg);
    background-repeat: no-repeat;
    font-size: 4rem;
  }
  &__delete{
    color:$instockWhite;
    background-color: $instockWhite;
    border:none;
    background-image: url(../../assets/Icons/delete_outline-24px.svg);
    background-repeat: no-repeat;
    font-size: 4rem;
  }
  &__header{
    font-weight: 600;
  }
  &__text{
    line-height: 1.5rem;
    margin-top: 1rem;
  }
  &__box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  &__button-2{
    border-radius:1.25rem;
    width:6.25rem;
    height:2.5rem;
  };
  &__button-2--cancel{
    background-color: $instockWhite;
    color:$instockSlate;
    border:solid 0.125rem $instockCloud
  }
  &__button-2--delete{
    background-color: $instockRed;
    color:$instockWhite;
    border:solid 0.125rem $instockCloud;
    border:none;
    margin-left: 1rem;
  }
}
@include tablet{
  .related-items-list-selection{
    padding:0%;
    color:$instockSlate;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: none;
    border-bottom:0.125rem solid $instockCloud;
    padding-bottom: 0%;
  
    &__container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: 3%;
    }
    &__container--qty{
      display: flex;
      justify-content: space-between;
      width:15rem;
      margin-right: 3%;
    }
    &__subcontainer{
      flex-wrap:wrap;
    }
    &__subcontainer--item{
      width:10rem
    }
    &__subcontainer--warehouse{
      transform: translateX(-1.8rem);
    }
    &__title{
      font-size: 1rem;
      font-weight:600;
      margin-top: .8rem;
      display:none;
    }
    &__info{
      font-size:.8rem;
      font-weight: 600;
      color:$instockBlack;
      margin-top: 1rem;
      margin-left:-.25rem;
    }
    &__info--category{
      transform: translateX(2.8rem);
      width:4rem;
    }
    &__info--status{
      transform: translateX(6.1rem);
      margin-left:2rem;
      width:5rem;
    }
    &__info--qty{
      transform: translateX(9.3rem);

    }
    &__info--warehouse{
      transform: translateX(.8rem);
    }
    &__button{
      background-color: $instockWhite;
      color:$instockIndigo;
      border:none;
      font-weight: 600;
      margin-top: 1rem;
      padding:0%;
    }
    &__action{
      display:flex;
      justify-content:flex-start;
      width:max-content;
      margin-top: 1rem;
      margin-right: 2%;
      transform: translateX(1rem);
    }
    &__edit{
      color:$instockWhite;
      background-color: $instockWhite;
      border:none;
      background-image: url(../../assets/Icons/edit-24px.svg);
      background-repeat: no-repeat;
      font-size: 4rem;
    }
    &__delete{
      color:$instockWhite;
      background-color: $instockWhite;
      border:none;
      background-image: url(../../assets/Icons/delete_outline-24px.svg);
      background-repeat: no-repeat;
      font-size: 4rem;
      width: 2.5rem;
    }
    &__header{
      font-weight: 600;
    }
    &__text{
      line-height: 1.5rem;
      margin-top: 1rem;
    }
    &__box{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    &__button-2{
      border-radius:1.25rem;
      width:6.25rem;
      height:2.5rem;
    };
    &__button-2--cancel{
      background-color: $instockWhite;
      color:$instockSlate;
      border:solid 0.125rem $instockCloud
    }
    &__button-2--delete{
      background-color: $instockRed;
      color:$instockWhite;
      border:solid 0.125rem $instockCloud;
      border:none;
      margin-left: 1rem;
    }
  }
}
@include tablet-med{
  .related-items-list-selection{
    padding:0%;
    color:$instockSlate;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: none;
    border-bottom:0.125rem solid $instockCloud;
    padding-bottom: 0%;
  
    &__container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: 3%;
    }
    &__container--qty{
      display: flex;
      justify-content: space-between;
      width:15rem;
    }
    &__subcontainer{
      flex-wrap:wrap;
    }
    &__subcontainer--item{
      width:10rem
    }
    &__subcontainer--warehouse{
      transform: translateX(-1.8rem);
    }
    &__title{
      font-size: 1rem;
      font-weight:600;
      margin-top: .8rem;
      display:none;
    }
    &__info{
      font-size:.8rem;
      font-weight: 600;
      color:$instockBlack;
      margin-top: 1rem;
      margin-left:-.25rem;
    }
    &__info--category{
      transform: translateX(4.2rem);
      width:4rem;
    }
    &__info--status{
      transform: translateX(11rem);
      margin-left:2rem;
    }
    &__info--qty{
      transform: translateX(13.45rem);
    }
    &__info--warehouse{
      transform: translateX(.8rem);
    }
    &__button{
      background-color: $instockWhite;
      color:$instockIndigo;
      border:none;
      font-weight: 600;
      margin-top: 1rem;
      padding:0%;
    }
    &__action{
      display:flex;
      justify-content:flex-start;
      width:max-content;
      margin-top: 1rem;
      margin-right: 2%;
      transform: translateX(1rem);
    }
    &__edit{
      color:$instockWhite;
      background-color: $instockWhite;
      border:none;
      background-image: url(../../assets/Icons/edit-24px.svg);
      background-repeat: no-repeat;
      font-size: 4rem;
    }
    &__delete{
      color:$instockWhite;
      background-color: $instockWhite;
      border:none;
      background-image: url(../../assets/Icons/delete_outline-24px.svg);
      background-repeat: no-repeat;
      font-size: 4rem;
      width: 2.5rem;
    }
    &__header{
      font-weight: 600;
    }
    &__text{
      line-height: 1.5rem;
      margin-top: 1rem;
    }
    &__box{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    &__button-2{
      border-radius:1.25rem;
      width:6.25rem;
      height:2.5rem;
    };
    &__button-2--cancel{
      background-color: $instockWhite;
      color:$instockSlate;
      border:solid 0.125rem $instockCloud
    }
    &__button-2--delete{
      background-color: $instockRed;
      color:$instockWhite;
      border:solid 0.125rem $instockCloud;
      border:none;
      margin-left: 1rem;
    }
  }
}
@include tablet-large{
  .related-items-list-selection{
    padding:0%;
    color:$instockSlate;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: none;
    border-bottom:0.125rem solid $instockCloud;
    padding-bottom: 0%;
  
    &__container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: 3%;
    }
    &__container--qty{
      display: flex;
      justify-content: space-between;
      width:15rem;
    }
    &__subcontainer{
      flex-wrap:wrap;
    }
    &__subcontainer--item{
      width:10rem
    }
    &__subcontainer--warehouse{
      transform: translateX(-1.8rem);
    }
    &__title{
      font-size: 1rem;
      font-weight:600;
      margin-top: .8rem;
      display:none;
    }
    &__info{
      font-size:.8rem;
      font-weight: 600;
      color:$instockBlack;
      margin-top: 1rem;
      margin-left:-.25rem;
    }
    &__info--category{
      transform: translateX(8.2rem);
      width:4rem;
    }
    &__info--status{
      transform: translateX(16rem);
      margin-left:2rem;
    }
    &__info--qty{
      transform: translateX(15.425rem);
    }
    &__info--warehouse{
      transform: translateX(.8rem);
    }
    &__button{
      background-color: $instockWhite;
      color:$instockIndigo;
      border:none;
      font-weight: 600;
      margin-top: 1rem;
      padding:0%;
    }
    &__action{
      display:flex;
      justify-content:flex-start;
      width:max-content;
      margin-top: 1rem;
      margin-right: 2%;
      transform: translateX(1rem);
    }
    &__edit{
      color:$instockWhite;
      background-color: $instockWhite;
      border:none;
      background-image: url(../../assets/Icons/edit-24px.svg);
      background-repeat: no-repeat;
      font-size: 4rem;
    }
    &__delete{
      color:$instockWhite;
      background-color: $instockWhite;
      border:none;
      background-image: url(../../assets/Icons/delete_outline-24px.svg);
      background-repeat: no-repeat;
      font-size: 4rem;
      width: 2.5rem;
    }
    &__header{
      font-weight: 600;
    }
    &__text{
      line-height: 1.5rem;
      margin-top: 1rem;
    }
    &__box{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    &__button-2{
      border-radius:1.25rem;
      width:6.25rem;
      height:2.5rem;
    };
    &__button-2--cancel{
      background-color: $instockWhite;
      color:$instockSlate;
      border:solid 0.125rem $instockCloud
    }
    &__button-2--delete{
      background-color: $instockRed;
      color:$instockWhite;
      border:solid 0.125rem $instockCloud;
      border:none;
      margin-left: 1rem;
    }
  }
}

@include desktop {
  .related-items-list-selection{
    padding:0%;
    color:$instockSlate;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: none;
    border-bottom:0.125rem solid $instockCloud;
    padding-bottom: 0%;
  
    &__container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: 3%;
    }
    &__container--qty{
      display: flex;
      justify-content: space-between;
      width:15rem;
    }
    &__subcontainer{
      flex-wrap:wrap;
    }
    &__subcontainer--item{
      width:10rem
    }
    &__subcontainer--warehouse{
      transform: translateX(-1.8rem);
    }
    &__title{
      font-size: 1rem;
      font-weight:600;
      margin-top: .8rem;
      display:none;
    }
    &__info{
      font-size:.8rem;
      font-weight: 600;
      color:$instockBlack;
      margin-top: 1rem;
      margin-left:-.25rem;
    }
    &__info--category{
      transform: translateX(8.2rem);
      width:4rem;
    }
    &__info--status{
      transform: translateX(22rem);
      margin-left:2rem;
    }
    &__info--qty{
      transform: translateX(19.25rem);
    }
    &__info--warehouse{
      transform: translateX(.8rem);
    }
    &__button{
      background-color: $instockWhite;
      color:$instockIndigo;
      border:none;
      font-weight: 600;
      margin-top: 1rem;
      padding:0%;
    }
    &__action{
      display:flex;
      justify-content:flex-start;
      width:max-content;
      margin-top: 1rem;
      margin-right: 2%;
    }
    &__edit{
      color:$instockWhite;
      background-color: $instockWhite;
      border:none;
      background-image: url(../../assets/Icons/edit-24px.svg);
      background-repeat: no-repeat;
      font-size: 4rem;
    }
    &__delete{
      color:$instockWhite;
      background-color: $instockWhite;
      border:none;
      background-image: url(../../assets/Icons/delete_outline-24px.svg);
      background-repeat: no-repeat;
      font-size: 4rem;
      width: 2.5rem;
    }
    &__header{
      font-weight: 600;
    }
    &__text{
      line-height: 1.5rem;
      margin-top: 1rem;
    }
    &__box{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    &__button-2{
      border-radius:1.25rem;
      width:6.25rem;
      height:2.5rem;
    };
    &__button-2--cancel{
      background-color: $instockWhite;
      color:$instockSlate;
      border:solid 0.125rem $instockCloud
    }
    &__button-2--delete{
      background-color: $instockRed;
      color:$instockWhite;
      border:solid 0.125rem $instockCloud;
      border:none;
      margin-left: 1rem;
    }
  }
}