$instockBlack: #131b2c;
$instockSlate: #5c667e;
$instockBlack: #131b2c;
$instockGraphite: #232940;
$instockGreen: #158463;
$instockIndigo: #2e66e5;
$instockCloud: #bdc5d5;
$instockWhite: #ffffff;
$instockRed: #c94515;
$instockLightGrey: #f7f8f9;
$tablet-breakpoint: 767px;
$tablet-med-breakpoint:900px;
$tablet-large-breakpoint:1050px;
$desktop-breakpoint: 1280px;

