$instockBlack: #131b2c;
$instockSlate: #5c667e;
$instockBlack: #131b2c;
$instockSlate: #5c667e;
$instockGraphite: #232940;
$instockGreen: #158463;
$instockIndigo: #2e66e5;
$instockCloud: #bdc5d5;
// ======= media queries layout======
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;
