$instockBlack: #131b2c;
$instockSlate: #5c667e;
$instockBlack: #131b2c;
$instockGraphite: #232940;
$instockGreen: #158463;
$instockIndigo: #2e66e5;
$instockCloud: #bdc5d5;
$instockWhite:#FFFFFF;
$instockRed:#C94515;
$instockLightGrey: #F7F8F9;
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;
